body {
    font-family: 'PT Sans', sans-serif;
}

nav {
    position: static;
    width: 100%;
}

#search-field {
    width: 200%;
    margin-left: -100%;
}

#dropmenu {
    width: 150%;
    margin-right: 20%;
    background-color: #222;
}

.container {
    overflow: hidden;
}

.feedgrabbr_widget{
    padding-top: 10%;
}
.searchlist {
    color: limegreen;
    font-size: 15px;
    transition: 1s ease-in-out;
    cursor: pointer;
    border-top: ridge;
    border-top-color: darkslategray;
    padding: 3%;
}

.carhead {
    background-color: #222;
    width: 100%;

}
